NEXT_PUBLIC_SUPABASE_URL="next_public_supabase_url"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="next_public_supabase_publishable_key"
SUPABASE_SECRET_KEY="supabase_secret_key"
RESEND_API_KEY="resend_api_key"
NEXT_PUBLIC_SITE_URL="site_url"